.typed-intro::after {
  content: "";
  position: absolute;
  top: 10%;
  right: -2rem;
  width: 15px;
  height: 75%;
  background: white;
  animation: pulse 1s infinite;
}

@keyframes pulse {
  0% {
    opacity: 0;
  }
  50% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
