.portfolio-link-purple {
  color: rgb(171, 57, 236);
}

.portfolio-link-purple:hover {
  color: rgb(207, 136, 248);
}

.portfolio-link-orange {
  color: #fc6e00;
}

.portfolio-link-orange:hover {
  color: rgb(250, 173, 115);
}

.portfolio-link-green {
  color: #30921b;
}

.portfolio-link-green:hover {
  color: rgb(101, 202, 78);
}
