html {
  box-sizing: border-box;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

@keyframes moveInFromLeft {
  0% {
    opacity: 0;
    transform: translateX(-10rem);
  }
  100% {
    opacity: 1;
    transform: translate(0);
  }
}

@keyframes moveInFromRight {
  0% {
    opacity: 0;
    transform: translateX(10rem);
  }
  100% {
    opacity: 1;
    transform: translate(0);
  }
}

@keyframes moveInFromTop {
  0% {
    opacity: 0;
    transform: translateY(-10rem);
  }
  100% {
    opacity: 1;
    transform: translate(0);
  }
}

@keyframes moveInFromBottom {
  0% {
    opacity: 0;
    transform: translateY(10rem);
  }
  100% {
    opacity: 1;
    transform: translate(0);
  }
}

@keyframes easeInWithOpacityChange {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

.moveInFromTopAnimation {
  animation: moveInFromTop 0.4s ease-out;
}

.moveInFromBottomAnimation {
  animation: moveInFromTop 0.4s ease-out;
}

.moveInFromLeftAnimation {
  animation: moveInFromLeft 0.4s ease-out;
}

.moveInFromRightAnimation {
  animation: moveInFromRight 0.4s ease-out;
}

.easeInWithOpacityChangeAnimation {
  animation: easeInWithOpacityChange 0.4s ease-out;
}
