@tailwind base;
@tailwind components;
@tailwind utilities;

/* Custom styling */
@import url("https://fonts.googleapis.com/css?family=Raleway:400,700,800&display=swap");
@import "styles/animations.css";

.primary-blue {
  color: rgb(59, 6, 129);
}

.bg-primary-blue {
  background: rgb(59, 6, 129);
}

.bg-primary-blue-gradient {
  background: linear-gradient(45deg, #390a58 0, #651685 50%, #5e31c9 100%);
}

.border-primary-blue {
  border-color: rgb(59, 6, 129);
}

.font-raleway {
  font-family: "Raleway", sans-serif;
  font-weight: 400;
}

.font-raleway-bold {
  font-family: "Raleway", sans-serif;
  font-weight: 600;
}

.font-raleway-black {
  font-family: "Raleway", sans-serif;
  font-weight: 800;
}

.wide-letter-spacing {
  letter-spacing: 0.2em;
}
