@tailwind base;
@tailwind components;
@tailwind utilities;

/* Custom styling */
@import url("https://fonts.googleapis.com/css?family=Farro:300,400,700|Roboto+Mono:300,400&display=swap");
@import "styles/animations.css";

::selection {
  background: #dddcf7;
  color: #000;
}
::-moz-selection {
  background: #dddcf7;
  color: #000;
}
