@tailwind base;
@tailwind components;
@tailwind utilities;

/* Custom styling */
@import url("https://fonts.googleapis.com/css?family=Raleway:400,700,800&display=swap");
@import "styles/animations.css";

.bg-primary-blue-gradient {
  /* background: linear-gradient(-45deg, #dddf84 0, #eee8a9 50%, #e6f4f1 100%); */
  /* background: linear-gradient(-45deg, #e6e7a4 0, #eeeaba 50%, #e6f4f1 100%); */
  background: linear-gradient(-45deg, #f8f8e1 0, #eeeaba 50%, #e6f4f1 100%);
}

.font-raleway {
  font-family: "Raleway", sans-serif;
  font-weight: 400;
}

.font-raleway-bold {
  font-family: "Raleway", sans-serif;
  font-weight: 600;
}

.font-raleway-black {
  font-family: "Raleway", sans-serif;
  font-weight: 800;
}

.wide-letter-spacing {
  letter-spacing: 0.2em;
}
